body {
  background-image: url(Imagenes/fondo.jpg);
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000ae;
}

nav button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  width: 120px;
  margin-top: 1vh;
  margin-bottom: 10px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  padding: 12px;
}

#game-container {
  text-align: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  margin: 25px auto;
  width: 80%;
  max-width: 800px;
  overflow: hidden;
}

h1 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #fff;
}

.hidden {
  display: none;
}

#flag-container {
  width: 300px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
}

#flag-image {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

#question-container {
  margin-bottom: 20px;
  color: #fff;
}

#question {
  font-size: 24px;
}

#options-container {
  margin-top: 20px;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  font-size: 22px;
}

#incorrect-title {
  font-weight: bold;
  color: red;
}

.option {
  font-size: 20px;
  padding: 10px 20px;
  margin: 5px;
  background-color: #f2f2f2;
  border: 2px solid #4caf50;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.option:hover {
  background-color: #4caf50;
  color: white;
}

#score-container {
  background-color: #f2f2f2;
  border: 2px solid #4caf50;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
  height: 100px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#score {
  font-size: 36px;
  font-weight: bold;
  color: #4caf50;
}

#next-btn {
  font-size: 24px;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #4caf50;
  border-radius: 5px;
  color: white;
  border: none;
  cursor: pointer;
}

button {
  /* Estilos generales de los botones */
  display: block;
  margin: 0 auto;
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  width: 110px;
  margin-bottom: 10px;
  cursor: pointer;
  box-shadow: 2px 4px #0000007e;
}

/* Efecto hover para todos los botones */
button:hover {
  background-color: #ff9800;
}

/* Estilos adicionales para botón con ID específico */
#custom-timer-btn {
  /* Estilos específicos del botón con ID "custom-timer-btn" */
  font-size: 16px;
  background-color: #45a049;
}

#custom-timer-btn:hover {
  background-color: #ff9800;
}

.timer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  color: #fff;
}

.timer-label {
  font-size: 24px;
  margin-right: 10px;
}

.timer-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #fff;
}

.timer-toggle-label {
  font-size: 20px;
  margin-right: 10px;
}

.custom-timer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  color: #fff;
}

.custom-timer-container label {
  font-size: 20px;
  margin-right: 10px;
}

/* Estilos para el input */
#timer-input {
  font-size: 34px; /* Tamaño de fuente aumentado */
  padding: 5px; /* Espaciado interno para hacer el input más grande (opcional) */
  width: 10%;
}

#continent-selection {
  margin: 20px;
  color: #fff;
}

#continent-select {
  width: 170px;
  height: 45px;
  box-shadow: 2px 3px black;
  border-radius: 5px;
  padding: 10px;
  background-color: #f2f2f2;
  border: 2px solid #4caf50;
  color: #000;
}

#Geo-btn:hover .additional-info {
  display: block;
}

.additional-info {
  margin-top: 20px;
  color: #fff;
}

.additional-info p {
  margin: 5px;
}
